nav {
  height: 100px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


nav span {
  font-family: 'Bungee', sans-serif; 
  display: flex;
  text-align: end;
  flex-wrap: wrap;
  font-size: 1.75rem;
  justify-content: center;
  flex-direction: column;

}

.newTweetText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tweet-text {
  margin-right: 10px; /* Add some spacing between text and icon */
}



@media only screen and (min-width: 1024px)  {
  nav {
    height: 120px;
  }

  .logo {
    font-size: 3rem;
  }

  span.write-new-tweet {
    font-size: 1.5rem;
  }
}