.tweetBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: SourceSansPro, sans-serif;
}
.tweetCounter {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
}
.tweetbutton {
  background-color: #4056a1;
  color: white;
}
textarea {
  outline: none;
  border-bottom-width: thick;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: transparent;
}
.tweetform {
  width: 100%;
}
.container {
  width: 100%;
}
.new-tweet {
  width: 100%;
}